export TEST_MYSQL="mysql://root:khulnasoft@localhost:3306/khulnasoft"
export TEST_MYSQL8="mysql://root:khulnasoft@localhost:3307/khulnasoft"
export TEST_MYSQL_MARIADB="mysql://root:khulnasoft@localhost:3308/khulnasoft"
export TEST_PSQL="postgres://postgres:khulnasoft@localhost:5432/postgres"
export TEST_CRDB="postgresql://khulnasoft@127.0.0.1:26259/postgres"
export TEST_MSSQL="jdbc:sqlserver://localhost:1433;database=master;user=SA;password=<YourStrong@Passw0rd>;trustServerCertificate=true"
if command -v nix-shell &> /dev/null
then
    use nix
fi
